<!DOCTYPE html>
<html class="" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./assets/styles/primeicons.css" rel="stylesheet" />
  <link href="./assets/styles/primeflex@3.3.1.css" rel="stylesheet" />
  <script src="./assets/scripts/vue@3.js"></script>
  <script src="./assets/scripts/primevue@4.0.2.js"></script>
  <script src="./assets/scripts/aura@4.0.2.js"></script>
  <title>Risk Management</title>
</head>

<body>
  <div id="root" class="">
    <p-confirm-popup></p-confirm-popup>
    <div class="flex justify-content-center">
      <p-card class="w-max px-4 my-4" :class="isDark ? 'surface-800' : 'surface-100'">
        <template #header>
          <div class="flex justify-content-between align-items-center">
            <h4>
              Risk Management
            </h4>
            <div class="flex">
              <div class="">
                <p-button :icon="'pi ' + themeIcon" text rounded
                  :class="isDark ? 'text-yellow-300' : 'text-black-alpha-90'" @click="toggleDarkMode" />
              </div>
              <div class="">
                <p-button icon="pi pi-wrench" severity="info" v-tooltip="{
                  showDelay: 500,
                  value: 'Clear cache & fix problems',
                }" rounded text @click="confirmClearCache($event)" />
              </div>
            </div>
          </div>
        </template>
        <template #content>
          <div class="field grid align-items-baseline">
            <label class="w-5rem" for="balance">Balance</label>

            <div class="col relative">
              <div class="flex align-items-baseline">
                <div class="">
                  <p-input-number class="w-15rem" :min="0" mode="decimal" :min-fraction-digits="2"
                    :max-fraction-digits="2" inputId="balance" v-model="balance" placeholder="$0.00" />
                </div>
                <i class="pi pi-dollar text-xs text-gray-400 ml-2"></i>
              </div>

            </div>
          </div>

          <div class="field grid align-items-baseline">
            <label class="w-5rem" for="risk">
              Risk
              <p-button class="py-0 px-2 ml-2" v-tooltip.top="{
                showDelay: 500,
                value: 'Risk Mode',
              }" text rounded :label="riskModePercent ? '%' : '$'" @click="riskModePercent = !riskModePercent" />
            </label>

            <div class="col relative ">
              <div class="flex align-items-baseline">

                <div class="">
                  <p-input-number class="w-15rem" mode="decimal" :min-fraction-digits="2" :max-fraction-digits="2"
                    inputId="risk" v-model="risk" placeholder="%0.00" />

                </div>
                <i class="text-xs text-gray-400 ml-2 "> = {{convert || 0}} {{
                  riskModePercent ? '$' : '%' }}</i>
              </div>

            </div>
          </div>

          <div class="field grid align-items-baseline">
            <label class="w-5rem" for="sl">StopLoss</label>
            <div class="col">
              <p-input-number class="w-15rem" prefix="%" mode="decimal" :min-fraction-digits="2"
                :max-fraction-digits="2" inputId="sl" v-model="sl" placeholder="%0.00" />
            </div>
          </div>

          <div class="field grid align-items-baseline">
            <label class="w-5rem" for="leverage">Leverage</label>
            <div class="col">
              <p-input-number class="w-15rem" :min="1" inputId="leverage" v-model="leverage" />
            </div>
          </div>
        </template>
        <template #footer>

          <div class="field grid align-items-baseline">
            <label class="w-5rem" for="invest">Invest</label>
            <p-input-number disabled class="w-15rem ml-2" inputId="invest" v-model="invest" />
          </div>
        </template>
      </p-card>
    </div>
  </div>
  <script src="./assets/scripts/main.js"></script>
</body>
</body>

</html>